.ipython/
.jupyter/
.local/
.cache/
.npm/
collection_*/
collection_*.zip
.env
whisperx/*.mp3
whisperx/*.vtt
whisperx/archive.txt
llm/temp/*
llm/jonfairbanks_repos.json
.DS_Store
scrape/scrolller/*
scrape/archive.txt
